<div class="m-5">
  <h2 class="text-center">Adicionar Contato</h2>

  <hr>

  <form (ngSubmit)="submit()" [formGroup]="contatoForm" #formDir="ngForm">
    <input type="hidden" formControlName="id">
    <div class="d-flex justify-content-evenly">
      <div class="form-group mb-2 w-25">
        <label for="nome" class="form-label">Nome:</label>
        <input type="text" class="form-control" formControlName="nome" placeholder="Digite seu nome" required>
        <div *ngIf="nome.invalid && formDir.submitted" class="erro-validacao">
          <p *ngIf="nome.errors?.['required']">O nome é obrigatório!</p>
        </div>
      </div>

      <div class="form-group mb-2 w-25">
        <label for="email" class="form-label">E-mail:</label>
        <input type="text" class="form-control" formControlName="email" placeholder="Digite seu email" required>
        <div *ngIf="email.invalid && formDir.submitted" class="erro-validacao">
          <p *ngIf="email.errors?.['required']">O email é obrigatório!</p>
          <p *ngIf="email.errors?.['email']">Este campo só aceita emails válidos!</p>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-evenly">
      <div class="form-group mb-2 w-25">
        <label for="celular" class="form-label">Celular:</label>
        <input type="text" class="form-control" formControlName="celular" placeholder="Digite seu celular" required>
        <div *ngIf="celular.invalid && formDir.submitted" class="erro-validacao">
          <p *ngIf="celular.errors?.['required']">O celular é obrigatório!</p>
          <p *ngIf="celular.errors?.['pattern']">Este campo só aceita números!</p>
        </div>
      </div>

      <div class="form-group mb-2 w-25">
        <label for="usuarioId" class="form-label">Usuário:</label>
        <select class="form-select" formControlName="usuarioId" aria-label="Selecione o usuário">
          <option value="" disabled selected hidden>Selecione</option>
          <option *ngFor="let usuario of usuarios" value="{{usuario.id}}">{{usuario.nome}}</option>
        </select>
        <div *ngIf="usuarioId.invalid && formDir.submitted" class="erro-validacao">
          <p *ngIf="usuarioId.errors?.['required']">O usuário é obrigatório!</p>
        </div>
      </div>
    </div>

    <br />

    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary me-2">Adicionar</button>
      <a class="btn btn-secondary" routerLink="/contato">Voltar</a>
    </div>
  </form>
</div>
