<div class="mt-3 botao">
  <a routerLink="/new-contato" class="btn btn-primary" role="button">Adicionar novo contato</a>
</div>

<div class="text-center">
  <h2>Lista de Contatos</h2>
</div>

<div class="text-tertiary mt-4">
  <hr>
</div>

<div class="tabela mt-4 text-center">
  <table class="table table-hover">
    <thead>
      <tr class="table-active">
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">Celular</th>
        <th scope="col">Usuário</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody class="table-hover" *ngIf="contatos && contatos.length > 0; else noContato">
      <tr *ngFor="let contato of contatos; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td>{{contato.nome}}</td>
        <td>{{contato.email}}</td>
        <td>{{contato.celular}}</td>
        <td>{{contato.usuario?.nome || 'Nenhum'}}</td>
        <td>
          <div class="btn-group" role="group">
            <a role="button" class="btn btn-primary" routerLink="/atualizar-contato/{{contato.id}}">Editar</a>
            <a role="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
               (click)="apagar(contato.id, contato.nome)">Apagar</a>
          </div>
        </td>
      </tr>
    </tbody>

    <ng-template #noContato>
      <tr>
        <td colspan="7" class="text-center">Não há contatos cadastrados!</td>
      </tr>
    </ng-template>
  </table>
</div>

<div class="modal fade" id="staticBackdrop" tabindex="-1" #modalElement>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Apagar</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="fecharModal()"></button>
      </div>
      <div class="modal-body">
        <p>{{menssagemModal}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="fecharModal()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="confirmarApagar()" data-bs-dismiss="modal">Confirmar</button>
      </div>
    </div>
  </div>
</div>
