<div class="text-center mt-5">
  <h3>Bem Vindo!</h3>
  <p>Aqui você poderá manter o controle de seus contatos.</p>
</div>

<div class="text-tertiary mt-5">
  <hr>
</div>

<div class="d-flex justify-content-evenly mt-5">
  <div class="card text-center cartao bg-body-secondary">
    <div class="card-body text-center">
      <h6 class="card-title">Se você deseja inserir um usuário, clique no botão abaixo:</h6>
      <a routerLink="new-usuario" class="btn btn-secondary my-3">Usuário</a>
      <br/>
      <a routerLink="/IdentificacaoUsuario" class="alterarSenha">Você deseja alterar sua senha?</a>
    </div>
  </div>

  <div class="card text-center cartao bg-body-secondary">
    <div class="card-body text-center">
      <h6 class="card-title bold">Se você deseja inserir um contato, clique no botão abaixo:</h6>
      <a routerLink="new-contato" class="btn btn-secondary mt-3">Contato</a>
    </div>
  </div>
</div>
